.git
.DS_Store
.vscode
.gitignore
.dockerignore
*.yml
*.env
.npm
dist

**/.git
**/.DS_Store
**/*.log
**/.vscode
**/.gitignore
**/.dockerignore

**/node_modules
**/dist
**/build
**/coverage
**/.next
**/out
**/.npm

**/.env
**/.env*
**/*.yml
**/logs