.pg001-body {
    width: 100%;
    display: flex;
    font-size: var(--font-size-12);
    overflow: hidden;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.pg001-checkbox {
    transform: scale(1.3);
    margin: 10px;
}

.pg001-textbox {
    padding: var(--space-8);
    border: 1px solid var(--border);
    border-radius: 16px;
    margin-right: var(--space-8);
    outline: none;
}

.pg001-textbox::placeholder {
    color: lightgrey;
    /* opacity: 0.8; */
}

.pg001-single-line-label {
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    display: inline-block;
    /* max-width: 100%; */
}

.pg001-outer-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: var(--space-8);
    background: linear-gradient(var(--bg-1), var(--bg-2), var(--bg-3), var(--bg-4));
    background-size: 100% 400%;
    transition: all .5s;

    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary-1);
        font-size: var(--font-size-24);
        letter-spacing: 2px;
        transition: all .5s;
        position: relative;

        .heading-icon {
            margin-right: var(--space-8);
        }

        .theme-toggle {
            font-size: var(--font-size-16);
            position: absolute;
            right: 8px;
            cursor: pointer;
        }
    }

    .con-url-outer-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;

        .con-url-container {
            display: flex;
            align-items: center;

            width: 40%;

            .con-url-lbl {
                display: flex;
                margin-right: var(--space-4);
                font-size: var(--font-size-14);
                color: var(--primary-clr-6);
            }

            .con-url-textbox {
                width: 100%;
            }

            .con-url-submit-icon {
                color: var(--primary-11);
                font-size: var(--font-size-24);
                cursor: pointer;
                transition: all 0.5s;
            }

            .con-url-submit-icon.done {
                display: none;
            }
        }
    }

    .folder-path-outer-container {
        display: none;

        flex-grow: 1;
        justify-content: center;
        align-items: center;

        .folder-path-container {

            width: 40%;
            animation: fade-in-out-to-top .5s .5s forwards;

            .folder-path-lbl {
                margin: var(--space-4);
                color: var(--primary-clr-6);
                font-size: var(--font-size-14);
            }

            .folder-path-textbox-ctr {
                display: flex;
                align-items: center;
            }

            .folder-path-textbox {
                min-width: 100%;
            }

            .folder-path-submit-icon {
                color: var(--primary-11);
                font-size: var(--font-size-24);
                cursor: pointer;
                transition: all 0.5s;
            }
        }
    }

    .import-process-outer-container {
        display: none;

        flex-direction: column;
        flex-grow: 1;
        margin-top: var(--space-8);
        color: var(--primary-clr-8);

        .final-folder-path-container {
            display: flex;
            align-items: center;
            font-size: var(--font-size-14);
            animation: fade-in-out-to-top .5s .5s forwards;

            .folder-icon {
                margin-right: var(--space-4);
            }

            .final-folder-path {
                padding-left: var(--space-4);
            }
        }

        .import-process-container {
            flex-grow: 1;
            display: flex;
            margin-top: var(--space-8);
            column-gap: 42px;

            .import-process-left-container {
                display: flex;
                flex-direction: column;
                width: 50%;
                min-width: 50%;
                box-sizing: border-box;

                .options-container {
                    animation: fade-in-out-to-top .5s .75s forwards;

                    fieldset {
                        margin: 0;
                        border-radius: 5px;
                        border-color: var(--secondary-1);

                        legend {
                            color: var(--secondary-1);
                            padding: 0 var(--space-4);
                            font-size: var(--font-size-16);
                        }

                        .options {
                            margin-top: var(--space-2);

                            .options-row {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .import-option-title {
                                    margin-bottom: var(--space-2);
                                }

                                .options-col {
                                    display: flex;
                                    align-items: center;
                                }
                            }

                            .import-formatter-func-section {
                                margin-top: var(--space-8);

                                .import-formatter-func-field {
                                    margin-top: var(--space-2);
                                    max-width: 45vw;

                                    .import-formatter-func-textarea {
                                        height: 180px;
                                        padding: var(--space-4);
                                    }
                                }
                            }
                        }
                    }
                }

                .action-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 48px;
                    margin-top: var(--space-16);
                    animation: fade-in-out-to-top .5s 1s forwards;

                    .action-icons {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: var(--space-12);
                        height: 40px;
                        width: 40px;
                        background: var(--primary-6);
                        color: var(--primary-clr-6);
                        border-radius: 50%;
                        cursor: pointer;
                        position: relative;
                        transition: all .5s;
                    }

                    .action-icons:hover {
                        background: transparent;
                        color: var(--gradient-clr);
                    }

                    .action-icons::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        padding: var(--space-2);
                        background: linear-gradient(0deg, var(--gradient-clr-1) 0%, var(--gradient-clr-2) 100%);
                        border-radius: 50%;
                        z-index: -1;
                        overflow: hidden;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        translate: -50% -50%;
                        transition: all .5s;
                    }

                    .action-icons:hover::after {
                        transform: rotate(180deg);
                    }
                }

                .count-outer-container {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    .count-container {
                        display: flex;
                        align-items: center;
                        max-width: 50%;
                        padding: var(--space-16);
                        margin-top: var(--space-8);
                        background: var(--primary-6);
                        color: var(--primary-clr-6);
                        border-radius: 5px;
                        font-size: var(--font-size-14);
                        position: relative;

                        .success-count-icon {
                            margin-right: var(--space-8);
                            color: var(--success-clr);
                            font-size: var(--font-size-24);
                        }

                        .error-count-icon {
                            margin-right: var(--space-8);
                            color: var(--error-clr);
                            font-size: var(--font-size-24);
                        }
                    }

                    .error-count-container {
                        display: none;
                        border: 2px solid var(--error-clr);
                    }

                    .success-count-container::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        padding: var(--space-2);
                        background: conic-gradient(from var(--angle), transparent 50%, var(--gradient-clr-1), var(--gradient-clr-2), var(--gradient-clr-1));
                        border-radius: 5px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        translate: -50% -50%;
                        z-index: -1;
                        animation: 2s progress-spin linear infinite;
                    }
                }

            }

            .import-process-right-container {
                flex-grow: 1;
                display: flex;
                width: 50%;
                min-width: 50%;
                box-sizing: border-box;

                .tabs-outer-container {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    max-width: 45vw;

                    .tab-headings {
                        display: flex;
                        column-gap: 4px;

                        .tab-title {
                            padding: var(--space-8);
                            background: var(--primary-7);
                            color: var(--primary-clr-7);
                            border: 2px solid var(--secondary-1);
                            border-bottom: none;
                            border-radius: 5px 5px 0 0;
                            cursor: pointer;
                        }

                        .tab-title-active {
                            background-color: var(--secondary-1);
                            color: var(--secondary-clr-1);
                        }
                    }

                    .tab-container {
                        flex-grow: 1;
                        padding: var(--space-8);
                        background: var(--primary-6);
                        color: var(--primary-clr-6);
                        border: 2px solid var(--secondary-1);
                        border-radius: 0 5px 5px 5px;

                        overflow: auto;
                        max-height: calc(100vh - 150px);
                        max-width: 100%;

                        code {
                            display: block;
                            white-space: pre-wrap;
                            word-wrap: break-word;
                        }

                        .error-log {
                            border-bottom: 1px dashed var(--primary-clr-6);
                            padding: 10px;
                        }

                        .error-log-msg {
                            margin-top: 10px;
                        }
                    }

                    .hide-tab-container {
                        display: none;
                    }

                }
            }
        }
    }
}

.pg001-body.choose-folder-path,
.pg001-body.show-import-process-ctr {
    /* overflow: hidden; */

    .con-url-outer-container {
        flex-grow: 0;
        margin-top: var(--space-8);

        color: var(--primary-clr-6);

        .con-url-textbox {
            background: transparent;
            color: var(--primary-clr-10);
            pointer-events: none;
        }

        .con-url-submit-icon.enter {
            display: none;
        }

        .con-url-submit-icon.done {
            display: flex !important;
            color: var(--success-clr);
        }
    }
}

.pg001-body.choose-folder-path {
    .pg001-outer-container {
        background-position: 100% 20%;

        .folder-path-outer-container {
            display: flex;
        }
    }
}

.pg001-body.show-import-process-ctr {
    .pg001-outer-container {
        background-position: 100% 100%;

        .import-process-outer-container {
            display: flex;

            .tabs-outer-container {
                animation: fade-in-out-to-left .5s .5s forwards;
            }
        }
    }
}

.pg001-body.import-start {

    .pg001-outer-container {

        .count-outer-container {
            animation: fade-in-out-to-top .5s .5s forwards;
        }
    }
}

.pg001-body.import-pause {
    .pg001-outer-container {
        .success-count-container::after {
            animation-play-state: paused !important;
        }
    }
}

.pg001-body.import-error {
    .error-count-container {
        display: flex !important;
        animation: fade-in-out-to-top .5s forwards;
    }
}

.pg001-body.import-complete {
    .pg001-outer-container {
        .action-container {
            display: none !important;
        }

        .success-count-container::after {
            background: conic-gradient(var(--gradient-clr-1), var(--gradient-clr-2), var(--gradient-clr-1)) !important;
            animation: none !important;
        }
    }
}

.fade-in-out-to-top {
    opacity: 0;
    transform: translateY(100%);
}

.fade-in-out-to-left {
    opacity: 0;
    transform: translateX(50%);
}


@keyframes fade-in-out-to-top {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-out-to-left {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes progress-spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}