.pg001-body {
    /* common variables */

    --space-2: 2px;
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;

    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-24: 24px;

    --success-clr: #30b330;
    --error-clr: #e74c3c;
    --error-txt-clr: #ffffff;

    --white: #ffffff;
    --black: #000000;

    --border: var(--primary-10);
}