.pg001-body {
    width: 100%;
    display: flex;
    font-size: var(--font-size-12);
    overflow: hidden;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.pg001-checkbox {
    transform: scale(1.3);
    margin: 10px;
}

.pg001-textbox {
    padding: var(--space-8);
    border: 1px solid var(--border);
    border-radius: 16px;
    margin-right: var(--space-8);
    outline: none;
    font-size: var(--font-size-12);
}

.pg001-textbox:disabled::placeholder {
    color: transparent;
}

.pg001-select {
    padding: var(--space-8);
    border: 1px solid var(--border);
    border-radius: 16px;
    margin-right: var(--space-8);
    outline: none;
}

.pg001-textbox::placeholder {
    color: lightgrey;
    /* opacity: 0.8; */
}

.pg001-single-line-label {
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    display: inline-block;
    /* max-width: 100%; */
}

.pg001-triangle-arrow-top {
    width: 12px;
    height: 12px;
    clip-path: polygon(0 100%, 100% 100%, 50% 0);
    background-color: var(--fn-info-bg);
}

.pg001-outer-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--white), var(--primary-1));
    color: var(--primary-2-clr);
    transition: all .5s;

    .import-process-outer-container {
        display: none;

        flex-direction: column;
        flex-grow: 1;
        padding: var(--space-8);

        .final-upload-path-container {
            display: flex;
            align-items: center;
            font-size: var(--font-size-14);
            animation: fade-in-out-to-top .5s .5s forwards;

            .folder-icon {
                margin-right: var(--space-4);
            }

            .final-upload-path {
                padding-left: var(--space-4);
                font-size: var(--font-size-12);
            }
        }

        .import-process-container {
            flex-grow: 1;
            display: flex;
            margin-top: var(--space-8);
            column-gap: 42px;

            .import-process-left-container {
                display: flex;
                flex-direction: column;
                width: 50%;
                min-width: 50%;
                box-sizing: border-box;

            }

            .import-process-right-container {
                flex-grow: 1;
                display: flex;
                width: 50%;
                min-width: 50%;
                box-sizing: border-box;
            }
        }
    }
}

.pg001-body.choose-upload-path,
.pg001-body.show-import-process-ctr {
    /* overflow: hidden; */

    .import-redis-con-container {
        flex-grow: 0;

        .con-url-textbox {
            background: transparent;
            pointer-events: none;
        }

        .con-url-submit-icon.enter {
            display: none;
        }

        .con-url-submit-icon.done {
            display: flex !important;
            color: var(--success-clr);
        }
    }
}

.pg001-body.choose-upload-path {
    .pg001-outer-container {
        .import-upload-type-container {
            display: flex;
        }
    }
}

.pg001-body.show-import-process-ctr {
    .pg001-outer-container {
        .import-process-outer-container {
            display: flex;

            .import-log-tabs-container {
                animation: fade-in-out-to-left .5s .5s forwards;
            }
        }
    }
}

.pg001-body.import-start {

    .pg001-outer-container {

        .import-count-container {
            animation: fade-in-out-to-top .5s .5s forwards;
        }
    }
}

.pg001-body.import-pause {
    .pg001-outer-container {
        .success-count-container::after {
            animation-play-state: paused !important;
        }
    }
}

.pg001-body.import-error {
    .error-count-container {
        display: flex !important;
        animation: fade-in-out-to-top .5s forwards;
    }
}

.pg001-body.import-complete {
    .pg001-outer-container {
        .import-action-container {
            display: none !important;
        }

        .success-count-container::after {
            background: conic-gradient(var(--gradient-clr-1), var(--gradient-clr-2), var(--gradient-clr-1)) !important;
            animation: none !important;
        }
    }
}

.fade-in-out-to-top {
    opacity: 0;
    transform: translateY(100%);
}

.fade-in-out-to-left {
    opacity: 0;
    transform: translateX(50%);
}


@keyframes fade-in-out-to-top {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-out-to-left {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes progress-spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}